<header id="indexHeader">
       <div class="col-lg-12 header-content">
           <div class="header-content-inner">
               <h1 id="homeHeading" style="font-family:'Rock Salt', cursive;">Hey, I'm Walkin' Here!</h1>
               <hr>
               <p style="font-size:24px; font-family: 'Raleway', sans-serif;">An app to help Austinites get around town safely on our sidewalks.</p>
               <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
           </div>
       </div>
   </header>


   <section id="services">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 class="section-heading" style="font-family:'Rock Salt', cursive;">At Your Service</h2>
                   <hr class="primary">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-md-3 text-center">
                   <div class="service-box">
                       <i class="fa fa-5x fa-compass text-primary sr-icons" aria-hidden="true"></i>
                       <h3>Map Your Route</h3>
                       <p class="text-muted">Our app will show you the fastest way to reach your destination while avoiding ending sidewalks.</p>
                   </div>
               </div>
               <div class="col-md-3 text-center">
                   <div class="service-box">
                       <i class="fa fa-5x fa-files-o text-primary sr-icons" aria-hidden="true"></i>
                       <h3>Helpful Overlays</h3>
                       <p class="text-muted">New in town? Unfamiliar with an area? Overlay crime and pedestrian fatality data on your route.</p>
                   </div>
               </div>
               <div class="col-md-3 text-center">
                   <div class="service-box">
                       <i class="fa fa-5x fa-map-pin text-primary sr-icons" aria-hidden="true"></i>
                       <h3>Report Issues</h3>
                       <p class="text-muted">Improve the experience of other community members by notifying us of damage or obstacles.</p>
                   </div>
               </div>
               <div class="col-md-3 text-center">
                   <div class="service-box">
                       <i class="fa fa-5x fa-hand-peace-o text-primary sr-icons" aria-hidden="true"></i>
                       <h3>Get there Safely</h3>
                       <p class="text-muted">Tell us about your walk and how we can make it better. Your feedback helps us make new features.</p>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <aside class="bg-dark" id="about">
       <h2 class="section-heading text-center" style="font-family:'Rock Salt', cursive;">About</h2>
       <hr class="primary">
       <div class="container attn text-center">
           <div class="row">
               <div class="col-md-4">
                   <div class="thumbnail attn text-center">
                       <div class="caption captionAbout">
                           <h3>Observers &#8594; Researchers</h3>
                           <!-- <h3>Accidental Deaths</h3> -->
                           <p>We love walking! So busted sidewalks aren't kosher. When we noticed how frequently our routes turned messy, precarious, or otherwise unwalkable- we knew something was up. We read (somewhere- enter source) pedestrians made up about 30% of Austin roadway fatalities in 2015.(!!!) Okay, so we weren't overreacting. We got more curious.</p>
                       </div>
                    </div>
               </div>

               <div class="col-md-4">
                   <div class="thumbnail attn text-center">
                       <div class="caption captionAbout">
                           <h3>Researchers &#8594; Collectors</h3>
                           <!-- <h3>Prevention Costs</h3> -->
                           <p>The issue has been raised before. Some data: The <em>2009 Austin Sidewalk Master Plan</em> calculated the price tag of needed sidewalk construction and improvements at $944 million. Yet the municipal <em>Neigh­bor­hood Connectivity Division</em>, that falls under the <em>Public Works Department</em>, has an annual budget of just $5 million to $10 million. This helps explain the state of our sidewalks (<em>sigh</em>).</p>
                       </div>
                    </div>
               </div>

               <div class="col-md-4">
                   <div class="thumbnail attn text-center">
                       <div class="caption captionAbout">
                           <h3>Collectors &#8594; Advocates</h3>
                          <!-- <h3>Walkability Works</h3> -->
                           <p>On the bright side, people have solved this probem before. It turns out the benefits of accessible sidewalks are HUGE, they're at the heart of <em>Walkable City: How Downtown Can Save America One Step at a Time</em>. Author Jeff Speck discusses how walkability promotes improved health, lowers transportation costs per household, and frees time for residents to enjoy themselves.</p>
                       </div>
                    </div>
               </div>
           </div> <!-- row -->
       </div> <!-- container -->
   </aside>

   <section id="getStarted" class="bg-dark">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2 class="section-heading" style="font-family:'Rock Salt', cursive;">Map your route!</h2>
                   <hr class="primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-12">
                   <form name="sentMessage" id="newWalkForm" novalidate> <!-- is this a contact form? -->
                       <div class="row">
                           <div class="col-md-12">
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Starting location" id="start" required data-validation-required-message="Please enter your location.">
                                   <p class="help-block text-danger"></p>
                               </div>
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Ending location" id="end" required data-validation-required-message="Please enter your destination.">
                                   <p class="help-block text-danger"></p>
                               </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="col-lg-12 text-center">
                               <div id="success"></div>
                               <a href="" class="btn btn-primary btn-xl sr-button">Go!</a>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </section>

   <section id="contact">
       <div class="container">
           <div class="row">
               <div class="col-md-10 offset-md-1 text-center">
                   <h2 class="section-heading" style="font-family:'Rock Salt', cursive;">Let's Get In Touch!</h2>
                   <hr class="primary">

                   <p>Got any feedback for us? That's great! Send us an email or leave us your contact info with a message and we'll get back to you as soon as possible!</p>
               </div> <!-- class="col" -->
           </div> <!-- message row -->

           <div class="row">
               <div class="col-md-12 text-center">
                   <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                   <p><a href="mailto:your-email@your-domain.com">feedback@walkingatx.com</a></p>
               </div> <!-- class="col" -->
           </div> <!-- email row -->

           <div class="row">
               <div class="col-md-12">
                   <form name="contactForm" id="contactForm" validate>
                       <div class="row">
                           <div class="col-md-6 offset-md-3">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="feedbackName" required placeholder="Enter your name.">
                               </div>
                               <div class="form-group">
                                   <input type="text" class="form-control" id="feedbackEmail" required placeholder="Enter your email.">
                               </div>
                               <div class="form-group">
                                   <textarea type="text" class="form-control" id="feedbackMessage" required placeholder="Enter your feedback."></textarea>
                               </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="col-lg-12 text-center">
                               <a href="" class="btn btn-primary btn-xl sr-button">Send</a>
                           </div>
                       </div>
                   </form>
               </div> <!-- class="col"  -->
           </div> <!-- form row -->
       </div> <!-- container -->
   </section>
