<div class="jumbotron" text-center>
  <div class="container">
    <section class="attn text-center">
      <h1>HEY, I'M WALKING HERE!</h1>
      <h3>Forge your path. Arrive safely.</h3>
      <h4>Get the app now.</h4>
    </section>
  </div>
</div>

<div class="container attn text-center" style="padding-bottom:35px;">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>
    Whether you’re on foot or utilizing a wheelchair, finding an easy “walking” route can be a challenge due to Austin’s incomplete sidewalk network, poorly maintained sidewalks, debris on sidewalks, or areas of high crime.</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Hey, I’m Walking Here! is a web app that maps walking routes, showing you places along each route where other users have reported sidewalk issues, where pedestrian deaths have occurred, or where crime rates are high.</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Users can save their routes and add markers to alert others of sidewalk issues.
</h3>
  </div>
</div>
</div>

<div class="container attn text-center">
<div class="row">
  <div class="col-md-4">
  <div class="thumbnail attn text-center">
      <i class="material-icons" style="font-size:140px;">local_hospital</i>
      <div class="caption">
        <h3>Accidental Deaths</h3>
        <p>Pedestrians made up about 30% of Austin roadway fatalities in 2015.</p>
    </div>
    </div>
  </div>

  <div class="col-md-4">
  <div class="thumbnail attn text-center">
      <i class="material-icons" style="font-size:140px;">attach_money</i>
      <div class="caption">
          <h3>Prevention Costs</h3>
          <p>The 2009 Austin Sidewalk Master Plan calculated the price tag of needed sidewalk construction and improvements at $944 million. The municipal Neigh­bor­hood Connectivity Division, which falls under the Public Works Department, has an annual budget of $5 million to $10 million.</p>
    </div>
    </div>
  </div>

  <div class="col-md-4">
  <div class="thumbnail attn text-center">
      <i class="material-icons" style="font-size:140px;">sentiment_very_satisfied</i>
      <div class="caption">
          <h3>Walkability Works</h3>
          <p>The benefits of accessible sidewalks are at the heart of Walkable City: How Downtown Can Save America One Step at a Time. Author Jeff Speck, a city planner and urban designer, discusses how walkability promotes improved health, lower transportation costs per household, and more free time for residents.</p>
    </div>
    </div>
  </div>
</div>
</div>
