<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
       <div class='container'><div class='row'>
          <div class="col-md-10 offset-md-1 text-center">
            <h1 class="section-heading makeWalk" style="font-family:'Rock Salt', cursive;">New Path!</h1>
            <hr class="primary">
           
          </div>
        </div>
      </br>
      </div>

      <%= render 'form', walk: @walk %>

    </div>
  </div>
</div>


