<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
       <div class='container'><div class='row'>
          <div class="col-md-10 offset-md-1 text-center">
            <h1 class="section-heading makeWalk" style="font-family:'Rock Salt', cursive;">New Path!</h1>
            <hr class="primary">
            </br>
            <button id='currentLocation' class="btn btn-primary btn-xl sr-button">Use Current Location</button>
            </br>
          </div>
        </div>
      </br>
      </div>

      <%= render 'form', walk: @walk %>

      <%= link_to 'Back', walks_path %>
    </div>
  </div>
</div>
